* {
  /* border: 1px dotted gray; */
  font-size: 14px;
  margin: 0px auto 5px auto;
}

.header {
  text-align: center;
}

.menu_bar {
  height: 100px;
  width: 100%;
}

.menu_select {
  display: flex;
  list-style: none;
  padding: 0px;
  align-items: center;
}

.text {
  text-decoration: none;
}
