* {
  font-size: 14px;
  margin: 5px auto;
}

.button {
  margin: 30px auto 10px auto;
  text-align: center;
}

.button > button {
  width: 150px;
  height: 40px;
}

.table {
  padding: 30px;
  border: 1px solid gray;
  height: 600px;
  line-height: 180%;
}

.table_tr {
  margin: 10px;
}
