@font-face {
  font-family: SCDream4;
  src: url("./SCDream4.otf");
}
* {
  font-family: SCDream4;
}
html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 50px;
}

footer {
  background-color: RGB(222, 220, 238);
  text-align: center;
  line-height: 50px;
  width: 100%;
  height: 50px;
  margin-top: auto;
  padding: 0px;
  bottom: 0;
  left: 0;
  font-size: 14px;
  position: absolute;
}
