@font-face {
  font-family: SCDream4;
  src: url("./SCDream4.otf");
}

* {
  /* border: 1px dotted gray; */
  font-family: SCDream4;
  font-size: 14px;
}

.login_text {
  margin: 100px auto 0px auto;
  text-align: center;
}

.login_table {
  width: 300px;
  margin: 50px auto 10px auto;
  text-align: center;
}

.login_table_th {
  width: 80px;
}

.login_button {
  margin: 10px auto;
  width: 220px;
}

.login_button > button {
  width: 220px;
  height: 30px;
  font-weight: 800;
  background-color: RGB(251, 209, 75);
  border: 1px solid gray;
  border-radius: 5px;
}

.box {
  border: 1px solid gray;
  background-color: white;
  height: 600px;
  line-height: 180%;
  border-radius: 5px;
  margin: 20px auto;
  width: 800px;
}
