@font-face {
  font-family: SCDream4;
  src: url("./SCDream4.otf");
}
* {
  font-family: SCDream4;
}

.navi {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

tfoot button {
  height: 50px;
  width: 150px;
  font-size: 20px;
  background-color: rgb(251, 209, 75);
  border-radius: 5px;
}

table.type09 {
  border-collapse: collapse;
  margin: auto;
  text-align: center;
  font-size: 15px;
  width: 1000px;
  height: 70%;
  line-height: 1.5;
}

table.type09 thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 3px solid #036;
  background-color: white;
}
table.type09 tbody td {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  height: 60px;
  background: #f3f6f7;
}
