@font-face {
  font-family: SCDream4;
  src: url("./SCDream4.otf");
}

* {
  font-family: SCDream4;
  font-size: 14px;
  margin: 5px auto;
}

.button {
  margin: 30px auto 10px auto;
  text-align: center;
}

.button > button {
  width: 150px;
  height: 40px;
  background-color: RGB(251, 209, 75);
  border: 1px solid gray;
  border-radius: 5px;
}

.table {
  padding: 40px 130px;

  line-height: 200%;
  height: 700px;
}

.box {
  border: 1px solid gray;
  background-color: white;
  border-radius: 5px;
  margin: 20px auto;
  width: 90%;
}
